# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\supermarket\服务端\superServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
